@font-face{
    font-family: "courier", monospace;
    src: url("./../assets/fonts/CourierPrime-Regular.ttf");
}

:root{
    --primary-color: #2e2e2e;
    --primary-color-light: #505050;
    --primary-color-extra-light: #d7d7d7;
    --primary-color-dark: #242424;
    --background-color: #2e2e2e;
    --foreground-color: #faffff;
    --error-color: #ff0000;
    --error-color-light: #f72222;
    --error-color-dark: #dc0101;
    --warning-color: #ff9000;
    --warning-color-light: #f6971b;
    --warning-color-dark: #e08105;
    --success-color: #00ff00;
    --success-color-light: #21f521;
    --success-color-dark: #07cc07;
    --primary-font: "courier";
    --header-lg: 2.5rem;
    --header-md: 2rem;
    --header-sm: 1.5rem;
    --content-lg: 1.5rem;
    --content-md: 1.2rem;
    --content-sm: 0.9rem;
    --content-xs: 0.5rem;
    --border-radius-full: 50px;
    --border-radius-lg: 10px;
    --border-radius-md: 5px;
    --border-radius-sm: 3px;

}

*{
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}

/* CONTAINTER */
.container{
    width: 70%;
    margin: auto;
}

/* MARGIN-BOTTOM */
.mb-50{
    margin-bottom: 50px;
}

/* HEADING CSS */
h1{
    font-size: var(--header-lg);
}

h2{
    font-size: var(--header-md);
}

h3{
    font-size: var(--header-sm);
}

/*FONT COLOR CSS */
.primary-color{
    color: var(--primary-color);
}

.background-color{
    background-color: var(--background-color);
}

.foreground-color{
    color: var(--foreground-color);
}

.error-color{
    color: var(--error-color);
}

.warning-color{
    color: var(--warning-color);
}

.success-color{
    color: var(--success-color);
}

.gray-color{
    color: var(--primary-color-light);
}

.primary-color-dark{
    color: var(--primary-color-dark);
}

/* FONT CSS */
.content-lg{
    padding: 0;
    margin: 0;
    font-size: var(--content-lg);
}

.content-md{
    padding: 0;
    margin: 0;
    font-size: var(--content-md);
}

.content-sm{
    padding: 0;
    margin: 0;
    font-size: var(--content-sm);
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}


/* BORDER CSS */
.rounded-full{
    border-radius: var(--border-radius-full);
}

.rounded-lg{
    border-radius: var(--border-radius-lg);
}

.rounded-md{
    border-radius: var(--border-radius-md);
}

.rounded-sm{
    border-radius: var(--border-radius-sm);
}

/* BUTTON CSS */
.btn{
    border: none;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--foreground-color);
}

.btn-primary:hover{
    background-color: var(--primary-color-dark);
}

.btn-warning{
    background-color: var(--warning-color);
    color: var(--foreground-color);
}

.btn-warning:hover{
    background-color: var(--warning-color-dark);
}

.btn-error{
    background-color: var(--error-color);
    color: var(--foreground-color);
}

.btn-error:hover{
    background-color: var(--error-color-dark);
}

.btn-success{
    background-color: var(--success-color);
    color: var(--foreground-color);
}
 
.btn-success:hover{
    background-color: var(--success-color-dark);
}

.btn-lg{
    font-size: var(--content-md);
    padding: 0.5rem 1rem;
}

.btn-md{
    font-size: var(--content-sm);
    padding: 0.4rem 0.8rem;
}

.btn-sm{
    font-size: var(--content-xs);
    padding: 0.3rem 0.6rem;
}

/* INPUT CSS */


/* LINK CSS */
.link{
    text-decoration: none;
}